:host{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  .title{
    font-size: 2.5em;
    font-weight: 400;
  }
  .subtitle{
    margin-top: 1em;
    padding: 0.3em 1.3em;
    border: 1px solid white;
    font-size: 0.6em;
    font-weight: 600;
    letter-spacing: 0.5em;
  }

  margin-top: 2em;


}
