<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav"
              [class.sidenav--mobile]='(isHandset$ | async)'
              [class.sidenav--desktop]='!(isHandset$ | async)' fixedInViewport="true"
              [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
              [mode]="(isHandset$ | async) ? 'over' : 'side'"
              [opened]="!(isHandset$ | async)">
    <mat-toolbar>Menu</mat-toolbar>
    <mat-nav-list class="mat-nav-list">
      <a class="mat-nav-list__option" routerLink="pois">
        <mat-card class="mat-nav-list__mat-card" >
          <mat-icon class="mat-nav-list__mat-card__mat-icon" >euro_symbol</mat-icon>
          <mat-card-content class="mat-nav-list__mat-card__mat-card-content">
            <div class="mat-nav-list__mat-card__mat-card-content__title">Ahorro</div>
            <div class="mat-nav-list__mat-card__mat-card-content__subtitle">trucos para ahorrar</div>
          </mat-card-content>
        </mat-card>
      </a>

      <a class="mat-nav-list__option" routerLink="pois">
        <mat-card class="mat-nav-list__mat-card" >
          <mat-icon class="mat-nav-list__mat-card__mat-icon" >euro_symbol</mat-icon>
          <mat-card-content class="mat-nav-list__mat-card__mat-card-content">
            <div class="mat-nav-list__mat-card__mat-card-content__title">Ahorro</div>
            <div class="mat-nav-list__mat-card__mat-card-content__subtitle">trucos para ahorrar</div>
          </mat-card-content>
        </mat-card>
      </a>

      <a class="mat-nav-list__option" routerLink="pois">
        <mat-card class="mat-nav-list__mat-card" >
          <mat-icon class="mat-nav-list__mat-card__mat-icon" >euro_symbol</mat-icon>
          <mat-card-content class="mat-nav-list__mat-card__mat-card-content">
            <div class="mat-nav-list__mat-card__mat-card-content__title">Ahorro</div>
            <div class="mat-nav-list__mat-card__mat-card-content__subtitle">trucos para ahorrar</div>
          </mat-card-content>
        </mat-card>
      </a>

    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <button type="button" aria-label="Toggle sidenav" mat-icon-button (click)="drawer.toggle()"
      *ngIf="isHandset$ | async">
      <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
    </button>
    <!-- Add Content Here -->
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
