.sidenav-container {
  background-color: rgba(0, 0, 0, 0);
  height: 100vh;
}

.sidenav {
  &--mobile{
    width: 250px;
  }
  &--desktop{
    width: 200px;
  }
}


.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
}

.mat-nav-list{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 1.5em;
  &__option{
    width: 90%;
    margin-bottom: 1em;
  }
  &__mat-card {
    background-color: rgb(90,90,90);
    display: flex;
    justify-content: space-around;
    padding-left: .5em;

    &__mat-icon{
      font-size: 2.3em;
    }
    &__mat-card-content{
      font-family: 'Dosis', sans-serif;
      display: flex;
      flex-direction: column;
      &__title{
        font-size: 1.2em;
        font-weight: 500;
      }
      &__subtitle{
        font-size: 0.9em;
      }
    }
  }

}
.mat-toolbar-single-row{
  justify-content: center;
}
.option{
  margin:1.5em auto;
}

.option mat-icon{
  width: 100%;
  font-size: 3em;
  color: whitesmoke;
}

// /deep/ .mat-tooltip {
//   font-size: .9em;
// }

.signout{
  cursor: pointer;
}
