:host{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  .horario{
    display: flex;
    flex-direction: row;
    font-size: 1.7em;
    &--desktop{
      width: 100%;
      justify-content: center;
    }
    &--mobile{
      width: 70vw;
      justify-content: space-between;
    }
  }
  .precio{
    font-size: 2em;
    font-size: 2.5em;
    padding-bottom: 1em;

    &--desktop{
      padding-bottom: 2em;
    }
  }
  .spacer{
    width: 5%;
  }
}
